/*CssReset style*/
html,body,div,ul,li,ol,p,form,input,span,a,img,h1,h2,h3,h4,del,dl,dd,dt,textarea,label,fieldset{margin:0px;	padding:0px;}
body{font-size:12px; overflow-x:hidden;position:relative;height:100%; }
ul,li{list-style:none;}
img{border:none;vertical-align:top;}
a{text-decoration:none; color:#666666}
a:hover{text-decoration:underline;}
.fl{float:left;}
.fr{float:right;}
.clear{	font-size:0px;height:0px;line-height:0px;overflow:hidden;clear:both;}
/*firefox*/
.ff:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
* html ul#FGNav li a, html ul#FGArticles li a{height: 1%;}
