body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
body{
	font-size:14px;
	width:240px;
	margin:0 auto;
}
h1,h2,h3{
	font-size:14px;
}
ul,li{
	list-style-type: none;
}
img{
	border: 0;
}
input,textarea{outline-style:none;}
textarea{resize:none;}
a{ text-decoration:none;color:#555555;}

/*top*/
.top{
	height:30px;
	line-height:30px;
	text-align:center;
}
.logo{
	padding:5px 0;
	text-align:center;
}
.nav{
	line-height: 25px;
	padding:5px;
}
a{line-height:20px;}
a:hover{color:red;}

.list-item{
	margin-top:10px;
}
.list-item .title{
	height:30px;
	background: url(../images/3g_title_bg.png) repeat-x;
	line-height:30px;
	padding-left:15px;
}
.list-item ul{
	padding:5px;
	padding-bottom:0;
}
.list-item li{
	line-height:25px;
}


.footer{
	text-align:center;
	line-height:25px;
	margin-top:10px;
	font-size: 12px;
	border-top: 1px solid #E3E3E3;
	padding-top:10px;
}

.content{
	padding:5px;
}
.content .title{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px
}
p.info{
	line-height:18px;
}
.arcbody{
	line-height: 23px;
}
.arcnav{
	padding-top:10px;
}
